#include "nirvana.dtsi"

&default_transform {
    col-offset = <1>;
};

// 配置右边的kscan GPIO（1个按键用于测试）
// 根据你的实际硬件接线修改这些引脚
&kscan0 {
    col-gpios
        = <&pro_micro 20 GPIO_ACTIVE_HIGH>  // 右边的列引脚（示例：D20）
        ;
};
